/* 
    Document   : main
    Created on : Jun 21, 2008, 7:09:02 AM
    Author     : Chuck
    Description:
        Control the look and feel for drmaxwood.com.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/



body {
  background-color: white;
  border: 0;
  margin: 0;
  padding: 0;
}

div.header {
  font: 15px bold black arial;
  
}

root { 
    display: block;
}

/*---Page Header---*/
#page_header {
  font: normal 30px black arial;
  width: 100%;
  height: 4.2em;
  background-color: #3399ff;
}

#header_address {
  float:left;
  padding: .3em;
}

#header_photo {
  float:left;
  padding: .2em;
}

/*---Menu---*/
div.menu {
  width: 100%;
  background-color: #0033ff;
  color: white;
  font: small-caps 20px white arial;
  padding-top: .1em;
  padding-bottom: .1em;
}

div.menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-right: solid white 1px;
  padding-right: 1em;
  padding-left: 1em;
}

/*---Main Page Section---*/
#main_section {
  width:100%;
}