<div id="page_header" >
  <div id="header_address" style="width: 50%;">
    Dr. Max S. Wood DDS<br>
    1275 North University Ave. #11<br>
    Provo, Utah, 84604
  </div>
  <div id="header_photo" style="width: 50%; text-align:right;">
    <%= image_tag "drmax_photo.jpg", :alt => "Photo of Dr. Wood goes here." %>
  </div>
</div>