<div id="page_header" >
  <div id="header_photo">
    <%= image_tag "drmax_photo.jpg", :alt => "Photo of Dr. Wood goes here.", :style => "height: 3.8em;" %>
  </div>
  <div id="header_address">
    Dr. Max S. Wood DDS<br>
    1275 North University Ave. #11<br>
    Provo, Utah, 84604
  </div>
</div>