    <div class="menu" style="width: 100%">
      <%= link_to "Home", :controller => "pages", :action => "index" %><%= link_to "Discounts", :controller => "pages", :action => "discounts" %><%= link_to "Map", :controller => "pages", :action => "map" %><%= link_to "Insurance", :controller => "insurance", :action => "index" %>
    </div>
