<div class="grid_4">
<h1>Twitter</h1>

<ul>
<% @twitter_urls.each do |url| %>
  <li><%= link_to url.title, url.url %>(<%= url.count %>) </li>
<% end %>
</ul>
</div>

<div class="grid_4">
<h1>Delicious</h1>

<ul>
<% @delicious_urls.each do |url| %>
  <li><%= link_to url.title, url.url %>(<%= url.count %>) </li>
<% end %>
</ul>
</div>
<div class="clear"></div>

