<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
	<title>Dr. Max S. Wood DDS: Provo Dentist; </title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<link rel="shortcut icon" href="/favicon.png" type="image/png" />
	<%= stylesheet_link_tag "default", "system", "base" %>
	<%= javascript_include_tag :defaults -%>
</head>

<body>

	<div id="container">

		<div id="header">
			<div id="header_title">

				<ul class="links primary-links"><li  class="first last 1-1">&nbsp;</li>
				</ul>                
				<div id="header_search">
				</div>

				<h1><a href="/" title="Home">Lost Jungles</a></h1>


			</div>

			<div id="header_categories">
				<ul  class="top-menu">
					<li><a  class="active"  href="/" title="Home"><span>Home</span></a> </li>
					<li><a  href="/articles" title="Information about how to make the most of your dental visits"><span>Articles</span></a> </li>
					<li><a  href="/insurance" title="Find out if Dr. Wood accepts your insurance"><span>Insurance</span></a> </li>
				</ul>
			</div>





				<div id="header_breadcrumb">
					<div class="breadcrumb"><a href="/">Home</a> » Insurance</div>        </div>

				</div> <!-- /header -->

				<div id="content">
					<div id="content_center" class="column">
						<div class="controlbar clearfix">
							<h1>Our Commitment to Your Smile</h1><br />
</div>
<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>

<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>

<p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>

																																										</div> <!-- /content_center -->

																																										<div id="content_left" class="column">
																																											<div id="block-user-1" class="block block-user">
																																												<h2 class="title">Discounts</h2>
																																												<div class="content">

																																													<ul class="menu">
																																														<li class="collapsed">Student Discount - 10%<br>																																														<small>Available with BYU or UVU ID</small></li>
																																														<li class="collapsed">Senior Citizen - 10%<br>
<small>For patients 65 and older</small></li>																																												
																																														<li class="collapsed">Cool Guys - 100%<br>
<small>Named Chuck, Charles, or Max</small></li>																																												
																																														</ul>
																																												</div>
																																											</div>
																																										</div> <!-- /content_left -->

																																										<div id="content_right" class="column">

																																											<div id="block-drigg_blocks-0" class="block block-drigg_blocks">
																																												<h2 class="title">Recent Articles</h2>
																																												<div class="content">
																																													<ul>
																																														<li><a href="#"><span>Getting the Most out of Your Dental Insurance</span></a></li>
																																														<li><a href="#"><span>Ideal Dental Hygiene &mdash; How Ten Minutes a Day can Save You Money</span></a></li>
																																														<li><a href="#"><span>Article #1 - About Something</span></a></li>
																																														<li><a href="#"><span>Article #2 - About Something Else</span></a></li>
																																														<li><a href="#"><span>Yadda Yadda Yadda</span></a></li>
																																																																																												</ul>  
																																																																																												</div>
																																												</div>
																																												<div id="block-drigg_blocks-1" class="block block-drigg_blocks">
																																													<h2 class="title">Office News</h2>
																																													<div class="content">
																																														<ul>
																																															<li><a href="#">Meet Angie! Our New Assistant</a></li>
																																															<li><a href="#">Mother's Day Special</a></li>
																																															</ul>
																																													</div>
																																												</div>
																																												
																																												</div> <!-- /content_right -->

																																											</div> <!-- /content -->

																																											<div id="footer">																																										
&nbsp;																																							</div> <!-- /footer -->



																																										</div> <!-- /container -->

																																									</body>
																																									</html>