<html>
  <head>
    <title>Dr. Max S. Wood &mdash; Provo Dentist &amp; Orthodontist near BYU</title>

    <!-- Stylesheets -->
    <%= stylesheet_link_tag "main" %>
    
  </head>
  <body>
    <%= render :partial => "pages/page_header" %>
    <div class="menu" style="width: 100%">
      <%= "menu here" %>
    </div>
    <div id="main_section">
      <%= yield %>
    </div>
  </body>
</html>