<html>
  <head>
    <title>Dr. Max S. Wood &mdash; Provo Dentist &amp; Orthodontist near BYU</title>

    <!-- Stylesheets -->
    <%= stylesheet_link_tag "main" %>
    
  </head>
  <body>
    <%= render :partial => "pages/page_header" %>
    <%= render :partial => "pages/top_nav" %>
    <div id="main_section">
      <%= yield %>
    </div>
  </body>
</html>